@font-face {
    font-family: 'UnicaOne';
    src: url('./assets/fonts/UnicaOne-Regular.ttf');
}

@font-face {
    font-family: 'Abel';
    src: url('./assets/fonts/Abel-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: rgb(1, 57, 79);
    background: -moz-radial-gradient(circle, rgba(1, 57, 79, 1) 67%, rgba(1, 48, 67, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(1, 57, 79, 1) 67%, rgba(1, 48, 67, 1) 100%);
    background: radial-gradient(circle, rgba(1, 57, 79, 1) 67%, rgba(1, 48, 67, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01394f", endColorstr="#013043", GradientType=1);
}

hr {
    border: 0;
    height: 3px;
    background: rgb(66, 124, 160);
    background: -moz-linear-gradient(304deg, rgba(66, 124, 160, 0) 0%, rgba(66, 124, 160, 0.7430322470785189) 50%, rgba(66, 124, 160, 0) 100%);
    background: -webkit-linear-gradient(304deg, rgba(66, 124, 160, 0) 0%, rgba(66, 124, 160, 0.7430322470785189) 50%, rgba(66, 124, 160, 0) 100%);
    background: linear-gradient(304deg, rgba(66, 124, 160, 0) 0%, rgba(66, 124, 160, 0.7430322470785189) 50%, rgba(66, 124, 160, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#427ca0", endColorstr="#427ca0", GradientType=1);
}

main {
    display: table;
    margin: 0 auto;
    text-align: center;
    width: 1280px;
}

#main-title {
    margin: 30px 0;
    font-family: 'UnicaOne', 'sans-serif';
    font-size: 4em;
    color: white;
    text-transform: uppercase;
}

#main-paragraph {
    margin: 20px 0;
    font-family: 'Abel', 'sans-serif';
    font-size: 1.5em;
    color: white;

}

#game-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#inner-game-div {
    border-radius: 15px;
    overflow: hidden;
    height: 650px;
    margin: 0;
    padding: 0;

    box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.70);
}

#game_canvas {
    margin: 0;
}